---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Lets try to use PostCSS at this Astro project</h1>
		<p>For that we need to use neting CSS and check that it is working...</p>
	</main>
	<footer>
		<p>&copy This is a simple test</p>
	</footer>
</Layout>
<style>
	p {
		color: magenta;
	}
	main {
		background-color: red;
		padding: 100px;
		h1 {
			background-color: green;
		}
		&:hover {
			color: green;
			p {
				color: salmon;
			}
		}
	}
	footer {
		p {
			font-size: 50px;
			color: red;
		}
	}
</style>
